<!DOCTYPE html>
<html>
<head>
    <title>#{title}</title>
    <meta charset="utf-8" />
</head>
<body>

    h2 #{title}

h4 Welcome to Dominos app! 
p
| Please follow 
a(href=`${link}`) link 
| to confirm your email and finish registration.
</body>
<html>